﻿<!DOCTYPE html>

<html>

<head>
    <title> Planetas </title>
    <meta charset="utf-8">
</head>

<body>
    <div class ="container borderless">


     <h1 style="font-weight: bold;"  id= "tituloTest" > Listado de planetas</h1>

        <ul class="list-group">
            @foreach (var planeta in ViewBag.planetas)
            {
                <div>
                    <li class="list-group-item">

                        <h2 style="font-weight: bold;" id = @planeta.id> Ficha del planeta @planeta.id</h2>
                        <h3 id="nombre@(planeta.id)"> Nombre: @planeta.nombre</h3>
                        <h3 id="tipo@(planeta.id)"> Tipo: @planeta.tipo</h3>
                        <h3 id="anillos@(planeta.id)"> Anillos: @planeta.numeroAnillos</h3>
                    </li>
                </div>
            }
        </ul>
    </div>
</body>
</html>